# IDE settings
.idea/
.vscode/

# macOS system files
.DS_Store

# Backend-specific files
backend/.gradle/
backend/build/
backend/out/
backend/*.log

# Python-related ignores
data-analysis/__pycache__/
data-analysis/.ipynb_checkpoints/
data-analysis/*.pyc
data-analysis/.env
